@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager


<ul class="navbar-nav">
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity!.Name!
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li>
					<a class="dropdown-item" asp-controller="Account" asp-action="Logout">Wyloguj się</a>
				</li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp">Zarejestruj się</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="SignIn">Zaloguj się</a>
		</li>

	}


</ul>