@model Luxa.ViewModel.ProfileChangeVM

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("SettingsMenu")
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="itemHead">Zmodyfikuj profil</h5>
                    <form method="post" asp-controller="Settings" asp-action="ChangeProfile" enctype="multipart/form-data">
                        <div class="mb-1">
                            <label asp-for="Avatar" class="control-label"></label>
                            <input type="file" asp-for="Avatar" class="form-control" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>

                        <div class="mb-1">
                            <label asp-for="Background" class="control-label"></label>
                            <input type="file" asp-for="Background" class="form-control" />
                            <span asp-validation-for="Background" class="text-danger"></span>
                        </div>
                        <div class="mb-1">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Zatwierdź zmiany" class="btn btn-primary float-end" />
                    </form>
                    @ViewData["Message"]
                </div>
            </div>
        </div>
    </div>
</div>
