@model List<Luxa.Models.UserModel>

@{
    ViewData["Title"] = "Obserwowani użytkownicy";
}

<h2>Followed Users</h2>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.UserName</li>
    }
</ul>
