@{
	ViewData["Title"] = "Tworzenie użytkownika";
}
<style>
	body {
		background: #2b2735;
	}
</style>
<h3>@ViewData["Title"]</h3>
@model Luxa.ViewModel.CreateUserVM

<form action="CreateUser" method="post">
	<div class="mb-3">
		<label asp-for="Username" class="form-label"></label>
		<input asp-for="Username" class="form-control" /><br />
		<span asp-validation-for="Username" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Password" class="form-label"></label>
		<input type="password" class="form-control" asp-for="Password" /><br />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="ConfirmPassword" class="form-label"></label>
		<input type="password" class="form-control" asp-for="ConfirmPassword" /><br />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="FirstName" class="form-label"></label>
		<input asp-for="FirstName" class="form-control" /><br />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="LastName" class="form-label"></label>
		<input asp-for="LastName" class="form-control" /><br />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Country" class="form-label"></label>
		<input asp-for="Country" class="form-control" /><br />
		<span asp-validation-for="Country" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control" /><br />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="PhoneNumber" class="form-label"></label>
		<input asp-for="PhoneNumber" class="form-control" /><br />
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
	</div>
	<label class="form-label" asp-for="Role"></label>
		@Html.DropDownListFor(model => model.Role,
				typeof(Luxa.Data.UserRoles).GetFields()
				.Select(f => new SelectListItem{Text = f.GetValue(null)
				.ToString(), Value = f.GetValue(null).ToString()}), new { @class = "form-select form-select-lg mb-3" })
	<br/>
	<button class="btn btn-primary type="submit">Dodaj użytkownika</button>


</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
 
 

