@*
    Poglądowy formularz
*@
<h1>Logowanie</h1>
<br />
@model UserModel
<form method="post" asp-controller="Account" asp-action="SignIn">
	<label asp-for="Nickname"></label><br />
	<input asp-for="Nickname" /><br />
	<label asp-for="Password"></label><br />
	<input asp-for="Password" /><br />
	<button type="submit">Zatwierdź</button><br />
</form>

@Html.ActionLink("Nie masz konta? Zarejestruj się już teraz!", "SignUp")