@*
    Poglądowy formularz
*@
<h1>Rejestracja</h1>
<br />
@model UserModel
<form method="post" asp-controller="Account" asp-action="SignIn">
	<label asp-for="Nickname"></label><br />
	<input asp-for="Nickname" /><br />
	<label asp-for="Password"></label><br />
	<input asp-for="Password" /><br />
	<button type="submit">Zatwierdź</button><br />
</form>


@Html.ActionLink("Masz już konto? Zaloguj się już teraz!", "SignIn")