@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Rejestracja</h1>
<br />
<p>Podaj nazwę użytkownika: </p>
<input name="Nickname">
<p>Podaj hasło: </p>
<input name="Password">
<br />

@Html.ActionLink("Masz już konto? Zaloguj się już teraz!", "SignIn")