<div class="col-md-3">
	<ul class="list-group">
		<li class="list-group-item"><a class="dropdown-item" asp-controller="Settings" asp-action="ChangePassword">Zmień hasło</a></li>
		<li class="list-group-item"><a class="dropdown-item" asp-controller="Settings" asp-action="ChangeData">Dane</a></li>
	</ul>
</div>

