<style>
	.list-group-item {
		background-color: #4C3C78;
		color: #FAF0E6;
	}
</style>
<div class="col-md-3">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" asp-controller="Settings" asp-action="ChangePassword">Hasło</a>
        <a class="list-group-item list-group-item-action" asp-controller="Settings" asp-action="ChangeData">Dane</a>
        <a class="list-group-item list-group-item-action" asp-controller="Settings" asp-action="ChangePrivacy">Prywatność</a>
    </div>
</div>

