@model IEnumerable<Luxa.Models.Photo>
@{
    ViewData["Title"] = "Strona główna(niezalogowany)";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Luxa</h1>
    <p>Tutaj powinny być najnowsze albo przykładowe zdjęcia.</p>
</div>

<h2>User Photos</h2>

@* <div>
    @foreach (var photo in Model)
    {
        <div>
            
            <img src="@("~/image/"+photo.Name)" asp-append-version="true" width="250px" heigh="250px" />
            <p>@photo.Description</p>
            <p>@photo.AddTime.ToString("dd MMM yyyy")</p>
        </div>
    }
</div> *@

