@{
    ViewData["Title"] = "Strona główna(niezalogowany)";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Luxa</h1>
    <p>Tutaj powinny być najnowsze albo przykładowe zdjęcia.</p>
</div>
