:root {
    --darker-violet: #2b2735;
    --dark-violet: #373341;
    --light-violet: #4C3C78;
    --lighter-violet: #614D99;
    --yellowish: #FAF0E6;
}

.target {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.5);
    color: black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.7s ease;
    height: 50px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.trigger {
}

.newBox {
    /* 		max-width: 1500px;
			width: 90%; */
    margin: auto;
    padding: 40px 0;
}

.photo {
    position: relative;
}

.photo-galery {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
}

.columnHeight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/* 	.target:hover
								{
									opacity: 1;
								} */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    /* Odstęp między kontenerami */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; /* Odstęp między elementami */
    grid-auto-flow: dense;
}

.grid-item {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.user {
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.like {
    position: relative;
    /*margin-left: 15px;*/
    left: 0;
    width: 25px;
    height: 25px;
}

.like-text {
    position: relative;
    left: 0;
}

.photos-info {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.alert {
    background-color: var(--lighter-violet);
    border-color: var(--lighter-violet);
    color: var(--yellowish);
}